<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <form action="{{path_for('subscription')}}" method="post">
      <input type="submit" value="Subscribe">
    </form>
  </body>
</html>
